.git
.github
docker-compose.override.yml
.gitignore
.gitattributes
.idea
.vscode
.directory
.user.ini
docs
*.md
!README.md
!CONTRIBUTING.md
ISTRUZIONI.txt
giocate/
includes/config-overrides.php
**/*.bak
**/*.swp
**/*~
